class Ahoy::Store < Ahoy::BaseStore
  def track_visit(data)
    # do
  end

  def track_event(data)
    # something
  end

  def geocode(data)
    # amazing
  end

  def authenticate(data)
    # !!!
  end
end

# set to true for JavaScript tracking
Ahoy.api = false

# better user agent parsing
Ahoy.user_agent_parser = :device_detector

# better bot detection
Ahoy.bot_detection_version = 2
