name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.3
            gemfile: gemfiles/rails72.gemfile
          - ruby: 3.2
            gemfile: Gemfile
          - ruby: 3.1
            gemfile: gemfiles/rails70.gemfile
          - ruby: "3.0"
            gemfile: gemfiles/rails61.gemfile
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rake test

      - uses: ankane/setup-postgres@v1
        with:
          database: ahoy_test
      - run: ADAPTER=postgresql bundle exec rake test

      - uses: ankane/setup-mysql@v1
        with:
          database: ahoy_test
      - run: ADAPTER=mysql2 bundle exec rake test
      - run: ADAPTER=trilogy bundle exec rake test

      - uses: ankane/setup-mariadb@v1
        with:
          database: ahoy_test
      - run: ADAPTER=mysql2 bundle exec rake test
      - run: ADAPTER=trilogy bundle exec rake test

      - uses: ankane/setup-mongodb@v1
      - run: ADAPTER=mongoid bundle exec rake test
