name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.2
            gemfile: Gemfile
          - ruby: 3.1
            gemfile: Gemfile
          - ruby: "3.0"
            gemfile: gemfiles/rails61.gemfile
          - ruby: 2.7
            gemfile: gemfiles/rails60.gemfile
          - ruby: 2.6
            gemfile: gemfiles/rails52.gemfile
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rake test
      - run: bundle exec rake test:query_methods:sqlite

      - uses: ankane/setup-postgres@v1
        with:
          database: ahoy_test
      - run: ADAPTER=postgresql bundle exec rake test
      - run: bundle exec rake test:query_methods:postgresql

      - uses: ankane/setup-mysql@v1
        with:
          database: ahoy_test
      - run: ADAPTER=mysql bundle exec rake test
      - run: bundle exec rake test:query_methods:mysql

      - uses: ankane/setup-mariadb@v1
        with:
          database: ahoy_test
      - run: ADAPTER=mysql bundle exec rake test
      - run: bundle exec rake test:query_methods:mysql

      - uses: ankane/setup-mongodb@v1
      - run: ADAPTER=mongoid bundle exec rake test
      - run: bundle exec rake test:query_methods:mongoid
